In [1]:
import pandas as pd
from pgmpy.models import BayesianNetwork
from pgmpy.estimators import MaximumLikelihoodEstimator, BayesianEstimator

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
df.tail(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [7]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
model = BayesianNetwork([('age','sex'),('fbs','chol')])
model.fit(df, estimator=MaximumLikelihoodEstimator)

In [9]:
print(model.get_cpds('age'))

+---------+------------+
| age(29) | 0.00390244 |
+---------+------------+
| age(34) | 0.00585366 |
+---------+------------+
| age(35) | 0.0146341  |
+---------+------------+
| age(37) | 0.00585366 |
+---------+------------+
| age(38) | 0.0117073  |
+---------+------------+
| age(39) | 0.0136585  |
+---------+------------+
| age(40) | 0.0107317  |
+---------+------------+
| age(41) | 0.0312195  |
+---------+------------+
| age(42) | 0.0253659  |
+---------+------------+
| age(43) | 0.0253659  |
+---------+------------+
| age(44) | 0.035122   |
+---------+------------+
| age(45) | 0.0243902  |
+---------+------------+
| age(46) | 0.022439   |
+---------+------------+
| age(47) | 0.017561   |
+---------+------------+
| age(48) | 0.022439   |
+---------+------------+
| age(49) | 0.0165854  |
+---------+------------+
| age(50) | 0.0204878  |
+---------+------------+
| age(51) | 0.0380488  |
+---------+------------+
| age(52) | 0.0419512  |
+---------+------------+
| age(53) | 0.0253659  |
+---------+------------+
| age(54) | 0.0517073  |
+---------+------------+
| age(55) | 0.0292683  |
+---------+------------+
| age(56) | 0.0380488  |
+---------+------------+
| age(57) | 0.0556098  |
+---------+------------+
| age(58) | 0.0663415  |
+---------+------------+
| age(59) | 0.044878   |
+---------+------------+
| age(60) | 0.0360976  |
+---------+------------+
| age(61) | 0.0302439  |
+---------+------------+
| age(62) | 0.0360976  |
+---------+------------+
| age(63) | 0.0312195  |
+---------+------------+
| age(64) | 0.0331707  |
+---------+------------+
| age(65) | 0.0263415  |
+---------+------------+
| age(66) | 0.0243902  |
+---------+------------+
| age(67) | 0.0302439  |
+---------+------------+
| age(68) | 0.0117073  |
+---------+------------+
| age(69) | 0.00878049 |
+---------+------------+
| age(70) | 0.0136585  |
+---------+------------+
| age(71) | 0.0107317  |
+---------+------------+
| age(74) | 0.00292683 |
+---------+------------+
| age(76) | 0.00292683 |
+---------+------------+
| age(77) | 0.00292683 |
+---------+------------+